# Environment variables
.env

# Google OAuth2 tokens
.idea/
.ideaBackend/ConnectMe/tokens/
tokens/

# IntelliJ IDEA
.ideaBackend/

# System files (optional)
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Package lock
package-lock.json
